@model IEnumerable<ProductServiceModel>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@product.ImageUrl" alt="@product.Brand - @product.Name">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@product.Brand @product.Name @product.Quantity mL</h5>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">@product.Price лв</a>
                    @if (ViewBag.AllowProductEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Редактирай</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Изтрий</a>
                    }
                </div>
            </div>
        </div>
    }
</div>